<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans+JP:wght@100&display=swap"
    rel="stylesheet" />

  <!-- stylesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
  <title>{% block title %}{% endblock %}</title>

</head>

<body>
  <header>
    <nav>
      <ul>
        <img src="{{ url_for('static', filename='images/MMG_logo.png') }}" class="logo">
        <li><a href="/">トップページ</a></li>
        <!-- <li><a href="/">目標一覧</a></li> -->
        <li><a href="/display_link_goals">目標紐付け</a></li>
      </ul>
    </nav>
  </header>
  {% block content %}{% endblock %}
</body>

</html>